<div class="content__mobile">
  <div class="row">
    {% for device in devices %}
    <div class="col-12 mb-3 w-100">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{device.nome.title()}}</h5>

              {% if device.estado %}
              <form
                action="{{url_for('devices.toggle', id = device.id)}}"
                method="post"
              >
                <button
                  type="submit"
                  class="btn btn-sm btn-danger form-control"
                  title="Carregar para desligar"
                >
                  <i class="bi bi-toggle-off"></i>
                </button>
              </form>
              {% else %}
              <form
                action="{{url_for('devices.toggle', id = device.id)}}"
                method="post"
              >
                <button
                  type="submit"
                  class="btn btn-sm btn-success form-control"
                  title="Carregar para ligar"
                >
                  <i class="bi bi-toggle-on"></i>
                </button>
              </form>
              {% endif %}
            </div>
            <div class="col-5">
              <div class="row d-flex h-100 align-items-center flex-row mt-3">
                <div class="col-6">
                  <a href="#" class="btn btn-primary btn-sm form-control"
                    ><i class="bi bi-pencil"></i
                  ></a>
                </div>
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-danger btn-sm form-control"
                    data-bs-toggle="modal"
                    data-bs-target="#apagar--{{device.id}}"
                  >
                    <i class="bi bi-trash-fill"></i>
                  </button>
                  {% include '/devices/components/modal-apagar.html' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
