{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div class="container shadow p-3 bg-body my-3 border rounded-bg">
  <!-- Header -->
  <section class="header">
    <div class="display-5 header__text header-blue-text">Novo Utilizador</div>
  </section>
  <hr />
  <section class="form">
    <form method="POST">
      {{form.csrf_token}}

      <!-- Nome -->
      <div class="mb-3">
        <label class="dark-blue-text" for="nome">Nome</label>
        {{form.nome(placeholder="Nome do Utilizador", class="form-control
        input-color")}}
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="dark-blue-text" for="email">Endereço Email</label>
        {{form.email(placeholder="Endereço Email", class="form-control
        input-color")}}
      </div>

      <div class="mb-3">
        <label for="contacto" class="dark-blue-text"
          >Contacto <span class="text-muted fs-6">(+351XXXXXXXXX)</span></label
        >
        {{form.contacto(placeholder="Contacto teléfonico", class="form-control
        input-color")}}
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="dark-blue-text" for="password">Password</label>
        {{form.password(class="form-control input-color",
        placeholder="Password")}}
      </div>

      <!-- Repetir Password -->
      <div class="mb-3">
        <label class="dark-blue-text" for="password_2">Repetir Password</label>
        {{form.password_2(placeholder="Repetir Password", class="form-control
        input-color ")}}
      </div>

      <div class="form__controls">
        <input
          type="submit"
          class="btn btn-primary form-control"
          value="Adicionar"
        />

        <a
          href="{{url_for('admin.utilizadores')}}"
          class="btn btn-secondary form-control"
        >
          Voltar
        </a>
      </div>
    </form>
  </section>
</div>

{% endblock %}
