<!-- Modal -->
<div
  class="modal fade"
  id="apagar--{{controlador.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Apagar {{controlador.nome}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="text-start text-muted">
          Tem a certeza de que pretende eleminar o controlador
          <span class="text-dark">{{controlador.nome}}</span>?
        </p>
      </div>
      <div class="modal-footer">
        <form
          action="{{url_for('devices.apagar_controlador', id = controlador.id)}}"
          method="POST"
        >
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <input type="submit" class="btn btn-danger" value="Apagar" />
        </form>
      </div>
    </div>
  </div>
</div>
