{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div class="container shadow p-3 bg-body my-3 border rounded-bg">
  <!-- Header -->
  <section class="header">
    <div class="display-5 header__text dark-blue-text">Utilizadores</div>
    <a href="{{url_for('admin.registar')}}" class="btn btn-primary header__btn"
      >Adicionar</a
    >
  </section>
  <hr />
  <section class="content">
    <!-- web -->
    <div class="content__web">
      <table
        class="table table-striped table-secondary table-hover table-condensed table-bordered text-center"
      >
        {% for user in users %}
        <tr>
          <td>{{user.nome.title()}}</td>
          <td>{{user.email.lower()}}</td>
          <td>
            <a
              href="{{url_for('admin.editar', id = user.id)}}"
              class="btn btn-primary btn-sm form-control"
              ><i class="bi bi-pencil-fill"></i
            ></a>
          </td>
          <td>
            {% if current_user.id == user.id %}
            <button
              type="button"
              class="btn btn-danger btn-sm form-control disabled"
              data-bs-toggle="modal"
              data-bs-target="#apagar--{{user.id}}"
              title="Não pode apagar a sua conta atual"
              disabled
            >
              <i class="bi bi-trash-fill"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-danger btn-sm form-control"
              data-bs-toggle="modal"
              data-bs-target="#apagar--{{user.id}}"
            >
              Apagar
            </button>
            {% endif %} {% include '/admin/modal_apagar.html' %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- mobile -->
    <div class="content__mobile">
      <div class="row">
        {% for user in users%}
        <div class="col-12 mb-3 w-100">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">{{user.nome.title()}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
                </div>
                <div class="col-5">
                  <div class="row d-flex h-100 align-items-center flex-row">
                    <div class="col-6">
                      <a
                        href="{{url_for('admin.editar', id = user.id)}}"
                        class="btn btn-primary btn-sm form-control"
                        ><i class="bi bi-pencil"></i
                      ></a>
                    </div>
                    <div class="col-6">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm form-control"
                        data-bs-toggle="modal"
                        data-bs-target="#apagar--{{user.id}}"
                      >
                        <i class="bi bi-trash-fill"></i>
                      </button>
                      {% include '/admin/modal_apagar.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
