{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div class="container shadow p-3 bg-body my-3 border rounded-bg">
  <!-- Header -->
  <section class="header">
    <div class="display-5 header__text dark-blue-text">Utilizadores</div>
    <a href="{{url_for('admin.registar')}}" class="btn btn-primary header__btn"
      >Adicionar</a
    >
  </section>
  <hr />
  <section class="content">
    <!-- web -->
    {% include '/admin/components/web.html' %}
    <!-- mobile -->
    {% include '/admin/components/mobile.html' %}
  </section>
</div>
{% endblock %}
