{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div class="container shadow p-3 bg-body my-3 border rounded-bg">
  <section class="header">
    <div class="display-5 header__text dark-blue-text">Dispositivos</div>
    <a
      href="{{url_for('devices.conectar_dispositivo')}}"
      class="btn btn-primary header__btn"
      >Conectar</a
    >
  </section>
  <hr />
  <section class="content">
    <div class="content__web">
      <table
        class="table table-striped table-secondary table-hover table-condensed table-bordered text-center"
      >
        {% for device in devices %}
        <tr>
          <td title="Nome do dispositivo">{{device.nome.title()}}</td>
          <td title="Pino de conexão">{{device.pin}}</td>
          <td>
            {% if device.estado %}
            <a
              href="#"
              class="btn btn-sm btn-danger form-control"
              title="Carregar para desligar"
            >
              <i class="fs-3 bi bi-toggle-off"></i>
            </a>
            {% else %}
            <a
              href="#"
              class="btn btn-sm btn-success form-control"
              title="Carregar para ligar"
            >
              <i class="bi bi-toggle-on"></i>
            </a>
            {% endif %}
          </td>
          <td>
            <a href="#" class="btn btn-primary btn-sm form-control"
              ><i class="bi bi-pencil"></i
            ></a>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm form-control"
              data-bs-toggle="modal"
              data-bs-target="#apagar--{{device.id}}"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
            {% include '/devices/modal-apagar.html' %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- Mobile view -->

    <div class="content__mobile">
      <div class="row">
        {% for device in devices %}
        <div class="col-12 mb-3 w-100">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">{{device.nome.title()}}</h5>

                  {% if device.estado %}
                  <a
                    href="#"
                    class="btn btn-sm btn-danger form-control"
                    title="Carregar para desligar"
                  >
                    <i class="fs-3 bi bi-toggle-off"></i>
                  </a>
                  {% else %}
                  <a
                    href="#"
                    class="btn btn-sm btn-success form-control"
                    title="Carregar para ligar"
                  >
                    <i class="bi bi-toggle-on"></i>
                  </a>
                  {% endif %}
                </div>
                <div class="col-5">
                  <div
                    class="row d-flex h-100 align-items-center flex-row mt-3"
                  >
                    <div class="col-6">
                      <a href="#" class="btn btn-primary btn-sm form-control"
                        ><i class="bi bi-pencil"></i
                      ></a>
                    </div>
                    <div class="col-6">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm form-control"
                        data-bs-toggle="modal"
                        data-bs-target="#apagar--{{device.id}}"
                      >
                        <i class="bi bi-trash-fill"></i>
                      </button>
                      {% include '/devices/modal-apagar.html' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Fim Mobile-->
  </section>
</div>
{% endblock %}
