{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div class="container container shadow p-3 bg-body my-3 border rounded-bg">
  <!-- Header -->
  <section class="header">
    <div class="header__text header-blue-text">
      <div class="display-5">Novo Dispositivo</div>
      <div class="text-muted">
        Necessário utilizar número do pino fisico -
        <a href="https://pinout.xyz" target="_blank">Ver Mais</a>
      </div>
    </div>
  </section>
  <hr />
  <section class="form">
    <form method="POST">
      {{form.csrf_token}}

      <!-- Nome -->
      <div class="row">
        <div class="mb-3 col-6">
          <label class="dark-blue-text" for="nome">Nome</label>
          {{form.nome(placeholder="Nome do Utilizador", class="form-control
          input-color", value=device.nome)}}
        </div>

        <!-- Email -->
        <div class="mb-3 col-6">
          <label class="dark-blue-text" for="email">Pino Raspberry</label>
          {{form.pin(placeholder="", class="form-control input-color",
          value=device.pin)}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-2">
          <input
            type="submit"
            class="btn btn-primary form-control"
            value="Atualizar"
          />
        </div>
        <div class="col-md-6 mt-2">
          <a
            href="{{url_for('devices.landing')}}"
            class="btn btn-secondary form-control"
          >
            Voltar
          </a>
        </div>
      </div>
    </form>
  </section>
</div>

{% endblock %}
